@{
    ViewData["Title"] = "About";
}

<div class="about-container">
    <h1 class="mb-4">About</h1>

    <p class="lead">
        Howdy! I'm Melis a passionate software developer embarking on a journey to master C# and SQL, 
        with a keen interest in object-oriented programming and a relentless drive for self-improvement.
    </p>

    <div class="social-links mt-4">
        <a href="https://github.com/frivoller" target="_blank" class="btn custom-btn">
            GitHub <i class="bi bi-github ms-2"></i>
        </a>
        <a href="https://www.linkedin.com/in/melis-yıldız-707/" target="_blank" class="btn custom-btn ms-3">
            LinkedIn <i class="bi bi-linkedin ms-2"></i>
        </a>
    </div>
</div>
